@import "../../../style.scss";

.senderinfo {
  padding: 16px 20px;
  letter-spacing: 0.4px;

  .senderinfo_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;

    .senderinfo_con-back {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: white;
        height: 26px;
        width: 26px;
      }
    }

    .senderinfo_con-detail {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 14px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        font-size: 18px;
        color: $main-color;
        font-weight: bold;
      }
    }
  }
}

@include mobile {
  .senderinfo {
    .senderinfo_con {
      .senderinfo_con-detail {
        gap: 6px;

        img {
          width: 30px;
          height: 30px;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}
