@import "../../style.scss";

.chatpanel {
  flex: 2;
  background: $primary-color;
  height: auto;

  .chatpanel_con {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

@include mobile {
  .chatpanel_mobile {
    flex: auto;
    width: 100%;
  }
  .chatpanel-hide {
    display: none;
  }
  .chatpanel-show {
    display: block;
  }
}
