@import "../../../style.scss";

.search_internal {
  padding: 0 20px 10px 20px;

  .search_internal-con {
    display: flex;
    justify-content: center;
    flex-direction: column;

    form {
      width: 100%;

      .search_internal-input {
        width: 100%;
        border: none;
        padding: 8px 12px;
        border-radius: 20px;

        font-size: 14px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

@include mobile {
  .search_internal {
    .search_internal-con {
      form {
        .search_internal-input {
          padding: 12px;
          font-size: 16px;
        }
      }
    }
  }
}
