@import "../../../style.scss";

.inputbox {
  //   height: 10dvh;
  padding: 10px;
  font-family: Arial;
  margin-bottom: 8px;

  .inputbox_con {
    height: 100%;
    display: flex;
    justify-content: center;

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ebeaea;
      border-radius: 20px;
      padding: 2px 0 2px 20px;
      width: 90%;
      background-color: $input-color;

      .input_msg-box {
        font-size: 15px;
        border: none;
        height: 100%;
        width: 80%;
        color: $primary-color;
        background: transparent;
        font-weight: 600;

        &::placeholder {
          font-weight: 600;
        }

        &:focus {
          outline: none;
        }
      }

      .input_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        .input_attach {
          label {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 21px;
              height: 21px;
              cursor: pointer;
            }
          }
        }

        .input_send {
          border-radius: 50%;
          padding: 7px 7px 2px 7px;
          background-color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;

          label {
            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
              cursor: pointer;
            }
          }
        }
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
