@import "../../../style.scss";

.inputbox {
  //   height: 10dvh;
  padding: 10px;
  font-family: Arial;
  margin-bottom: 8px;

  .inputbox_con {
    height: 100%;
    display: flex;
    justify-content: center;

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ebeaea;
      border-radius: 20px;
      padding: 2px 0 2px 20px;
      width: 90%;
      background-color: $input-color;

      .input_msg-box {
        font-size: 15px;
        border: none;
        height: 100%;
        width: 80%;
        color: $primary-color;
        background: transparent;

        &::placeholder {
          font-weight: 600;
        }

        &:focus {
          outline: none;
        }
      }

      .input_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .input_attach {
          span {
            color: $primary-color;
            font-size: 12px;
            cursor: pointer;
          }
          label {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              color: $primary-color;
              cursor: pointer;
            }
          }
        }

        .input_emoji {
          svg {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
          }

          .input_emoji-box {
            position: fixed;
            left: 50%;
            bottom: 20%;

            .input_emoji-picker {
              position: absolute;
              bottom: 100%;
              z-index: 10;
            }
          }
        }

        .input_send {
          border-radius: 50%;
          padding: 7px 7px 2px 7px;
          background-color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          label {
            svg {
              color: $main-color;
              cursor: pointer;
            }
          }
        }
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
