@import "../../style.scss";

.reset_pass {
  background: $primary-color;
  height: 100dvh;
  display: flex;
  justify-content: center;

  .reset_pass-box {
    background-color: $secondary-color;
    width: 420px;
    height: fit-content;
    padding: 30px 20px 40px 20px;
    margin-top: 4rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .reset_pass-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 24px;
          width: 24px;
        }
      }

      .reset_pass-logo {
        width: auto;
        height: 28px;
      }
    }

    .reset_pass-con {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      margin-top: 20px;
      align-items: center;
      color: $main-color;
      span {
        font-size: 24px;
        font-weight: 500;
      }

      .reset_pass-mail {
        width: 80%;

        input {
          margin-top: 2px;
          border: none;
          padding: 8px 12px;
          border-radius: 6px;
          width: 100%;
          color: $primary-color;
          font-size: 14px;
          font-weight: 400;

          &::placeholder {
            color: a1a1a1;
          }

          &:focus {
            outline: none;
          }
        }
      }
      .reset_pass-btn {
        width: 80%;
        text-align: center;

        button {
          width: 100%;
          padding: 10px;
          border-radius: 6px;
          background-color: $primary-color;
          color: $main-color;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;

          &:hover {
            border: 1px solid $main-color;
          }
        }
        p {
          margin-top: 6px;
          font-size: 14px;
        }
      }
    }
  }
  @include mobile {
    .reset_pass-box {
      width: 90%;
    }
  }
}
