@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

$primary-color: #222831;
$secondary-color: #31363f;
$main-color: #eeeeee;
$dark-gray: #76abae;
$light-gray: #77b0aa;
$light-color: #77b0aa33;
$input-color: #f7f7f7;
$line-color: rgba(219, 219, 219, 0.897);
$message-color: #76abae;

a {
  text-decoration: none;
}

button {
  border: none;
}
